.btn-linear {
    background: linear-gradient(45deg, #4158d0, #c850c0) !important;
    color: white;
}

.form-border {
    border: 1px solid #59546b;
    border-radius: 10px;
}

.top-bar {
    width: 100%;
    height: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #59546b;
    color: white;
    text-align: center;
}